# Unified
target/

# Java
.idea/

# Delphi
*.~*
*.dproj.local
*.dsk
*.res
*.identcache
*.dres
*.rc
*.prjmgc
*.delphilint

# SonarDelphi
.scannerwork/
__recovery/
sonar-project.properties