# Unified
target/

# Java
.idea/

# Delphi
*.~*
*.dproj.local
*.dsk
*.res
*.identcache
*.dres
*.rc
*.prjmgc
*.delphilint
*.delphilsp.json

# SonarDelphi
.scannerwork/
__recovery/
sonar-project.properties

# JavaScript
node_modules/
out/