# Unified
target/
dist/

# Java
.idea/
*.iml

# Delphi
*.~*
*.dproj.local
*.groupproj.local
*.dsk
*.res
*.identcache
*.dres
*.rc
*.prjmgc
*.delphilint
*.delphilsp.json
*.tvsconfig
dlversion.inc.orig

# SonarDelphi
.scannerwork/
__recovery/

# JavaScript
node_modules/
out/
*.vsix

# VSCode
.vscode/*
!.vscode
!.vscode/tasks.json
!.vscode/launch.json