<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{yyy-MM-dd HH:mm:ss.SSS} %5level] %logger{1}: %msg%n"/>
    </Console>
    <File name="FileAppender" fileName="logs\delphilint-server.log" immediateFlush="true" append="true">
      <PatternLayout pattern="[%d{yyy-MM-dd HH:mm:ss.SSS} %5level] %logger{1}: %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="ConsoleAppender" level="info" />
      <AppenderRef ref="FileAppender"/>
    </Root>
  </Loggers>
</Configuration>