html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.content {
  margin: 8px;
}

h1 {
  margin-top: 0px;
  font-size: 18px;
  margin-bottom: 0px;
}

.subheading {
  font-size: 12px;
  font-weight: normal;
  margin-top: -2px;
  margin-bottom: 1px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

.cleancode .subheading {
  margin-top: 0;
}

.subheading .gap {
  display: inline-block;
  width: 10px;
}

.subheading img {
  display: inline;
  vertical-align: middle;
  margin-right: 2px;
}

pre, code {
  font-size: 12px;
}

pre {
  padding: 0.5em 0.5em;
  font-family: "Consolas", monospace;
}

.impacts {
  font-size: 11px;
  margin-bottom: 0;
}

p {
  margin-top: 10px;
}

.impact {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 12px;
}

.impact img {
  display: inline;
  vertical-align: middle;
}

.impact.low {
  color: rgb(49, 108, 146);
  background-color: rgb(233, 244, 251);
}

.impact.medium {
  color: rgb(140, 94, 30);
  background-color: rgb(254, 245, 208);
}

.impact.high {
  color: rgb(128, 27, 20);
  background-color: rgb(254, 228, 226);
}

.code-added, .code-removed {
  padding: 0 0.5em;
  margin: 0 -0.5em;
}

.code-added {
  background-color: rgb(31, 60, 37);
}

.code-removed {
  background-color: rgb(70, 36, 34);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* The following code is supplied from the highlight.js repository.                                                   */
/* Source: https://github.com/highlightjs/highlight.js/blob/main/src/styles/stackoverflow-dark.css                    */
/* ------------------------------------------------------------------------------------------------------------------ */

/*!
  Theme: StackOverflow Dark
  Description: Dark theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/

.hljs {
  /* var(--highlight-color) */
  color: #ffffff;
  /* var(--highlight-bg) */
  background: #1c1b1b;
}

.hljs-subst {
  /* var(--highlight-color) */
  color: #ffffff;
}

.hljs-comment {
  /* var(--highlight-comment) */
  color: #999999;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-section {
  /* var(--highlight-keyword) */
  color: #88aece;
}

.hljs-attr {
  /* var(--highlight-attribute); */
  color: #88aece;
}

.hljs-attribute {
  /* var(--highlight-symbol) */
  color: #c59bc1;
}

.hljs-name,
.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-quote,
.hljs-template-tag {
  /* var(--highlight-namespace) */
  color: #f08d49;
}

.hljs-selector-class {
  /* var(--highlight-keyword) */
  color: #88aece;
}

.hljs-string,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr {
  /* var(--highlight-variable) */
  color: #b5bd68;
}

.hljs-meta,
.hljs-selector-pseudo {
  /* var(--highlight-keyword) */
  color: #88aece;
}

.hljs-built_in,
.hljs-title,
.hljs-literal {
  /* var(--highlight-literal) */
  color: #f08d49;
}

.hljs-bullet,
.hljs-code {
  /* var(--highlight-punctuation) */
  color: #cccccc;
}

.hljs-meta .hljs-string {
  /* var(--highlight-variable) */
  color: #b5bd68;
}

.hljs-deletion {
  /* var(--highlight-deletion) */
  color: #de7176;
}

.hljs-addition {
  /* var(--highlight-addition) */
  color: #76c490;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-formula,
.hljs-operator,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}