# Delphi
*.~*
*.dproj.local
*.dsk
*.res
*.identcache
*.dres
*.rc

# Project Magician
*.prjmgc

# DelphiLint
*.delphilint

# SonarDelphi
delph.xml
.scannerwork/
__recovery/

# Other
target/
